  openapi: "3.0.3"
  info:
    title: "Minimal Iniciadora"
    description: "API exposta pela Iniciadora (PISP) e intermediada pelo Sensedia APIM. Expõe os endpoints nativos da iniciadora — iniciação de pagamento com redirect (PISP v5) e jornadas JSR (cadastro de dispositivo + pagamento sem redirect) — além dos paths formais Open Finance de autenticação, contas e consentimentos.\nJornada JSR:\n  - POST /enrollments inicia o cadastro do dispositivo (ITP).\n  - GET /callback recebe o redirect da detentora e conclui o cadastro\n    (gera credential_id e vincula a conta).\n  - POST /payments/jsr inicia um pagamento PIX sem redirect usando o\n    dispositivo vinculado (exige device REGISTERED; caso contrário\n    retorna need_enrollment com o login_url).\nAutenticação:\n  - POST /auth/login troca usuário e senha pré-cadastrados por um JWT.\n  - As demais rotas exigem Authorization: Bearer <token>, exceto\n    GET /callback, que é aberta pelo navegador do titular vindo da\n    detentora e é amarrada pelo state do fluxo.\n  - Cada usuário só enxerga os próprios pagamentos e dispositivos."
    version: "1.3.0"
  servers:
    -
      url: "https://api-assets.sensedia.com/minimal-iniciadora/v1"
      description: "Produção"
  tags:
    -
      name: "Auth"
      description: "Autenticação dos usuários da Iniciadora"
    -
      name: "JSR"
      description: "Jornada JSR (ITP enrollment + pagamento sem redirect)"
    -
      name: "PISP"
      description: "Iniciação de Pagamento"
  security:
    -
      bearerAuth: []
  paths:
    /enrollments/{enrollment_id}:
      delete:
        tags:
          - "JSR"
        summary: "Revoga um dispositivo vinculado"
        description: "Remove o vinculo guardado nesta Iniciadora, o que impede novos pagamentos JSR\ncom aquele dispositivo, e pede a revogacao tambem na detentora.\n\nA revogacao na detentora e best-effort: nem toda detentora expoe o DELETE do\nenrollment, e o que de fato impede o pagamento e a remocao local. O campo\ncore_revoked diz se ela aceitou.\n\nEscopado ao dono: um enrollment de outro usuario responde 404, para ninguem\nrevogar dispositivo alheio nem descobrir que ele existe.\n"
        operationId: "revokeEnrollment"
        parameters:
          -
            name: "enrollment_id"
            in: "path"
            description: "Dispositivo a revogar, entre os do usuario autenticado."
            required: true
            style: "simple"
            explode: false
            schema:
              type: "string"
        responses:
          200:
            description: "Dispositivo revogado"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/EnrollmentRevokedResponse"
          401:
            $ref: "#/components/responses/Unauthorized"
          404:
            $ref: "#/components/responses/NotFound"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/enrollments/{enrollment_id}"
    /payments/{identifier}/events:
      get:
        tags:
          - "PISP"
        summary: "Trilha do consentimento na detentora"
        description: "O que foi tentado, por quem, e o que passou -- inclusive as tentativas\nrecusadas, que nao mudam o status e por isso nao aparecem na consulta do\npagamento. Serve para auditar a jornada de ponta a ponta sem abrir o banco\nda detentora.\n"
        operationId: "getPaymentEvents"
        parameters:
          -
            name: "identifier"
            in: "path"
            description: "payment_id ou consent_id de um pagamento do proprio usuario."
            required: true
            style: "simple"
            explode: false
            schema:
              type: "string"
        responses:
          200:
            description: "Trilha do consentimento, em ordem cronologica"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/PaymentEventsResponse"
          401:
            $ref: "#/components/responses/Unauthorized"
          404:
            $ref: "#/components/responses/NotFound"
          502:
            $ref: "#/components/responses/CoreUnavailable"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/payments/{identifier}/events"
    /webhooks/consents:
      post:
        tags:
          - "PISP"
        summary: "Recebe da detentora a mudanca de status de um consentimento"
        description: "Fecha a jornada quando o titular aprova e fecha o navegador sem voltar pelo\n/callback: o aviso chega por aqui e o pagamento e submetido do mesmo jeito.\n\nNao usa JWT -- quem chama e a detentora. A autenticacao e a assinatura do\ncorpo em x-webhook-signature (HMAC-SHA256 do corpo cru, chave compartilhada\ncom a detentora). Sem conferir, quem descobrisse esta URL postaria AUTHORISED\ne a Iniciadora pagaria algo que o titular nunca aprovou.\n\nUm consentimento desconhecido responde 200 com known false, de proposito: 4xx\nso faria a detentora reenviar um aviso que nunca sera nosso.\n"
        operationId: "receiveConsentWebhook"
        security: []
        parameters:
          -
            name: "x-webhook-signature"
            in: "header"
            description: "HMAC-SHA256 do corpo cru, em hexadecimal."
            required: true
            style: "simple"
            explode: false
            schema:
              type: "string"
        requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentWebhookEvent"
          required: true
        responses:
          200:
            description: "Aviso recebido"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ConsentWebhookAck"
          400:
            $ref: "#/components/responses/BadRequest"
          401:
            description: "Assinatura ausente ou invalida"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/CoreError"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/webhooks/consents"
    /auth/login:
      post:
        tags:
          - "Auth"
        summary: "Troca usuário e senha pré-cadastrados por um access token JWT"
        description: "Usuário inexistente e senha errada devolvem a mesma resposta 401, para não revelar quais usuários existem."
        operationId: "login"
        security: []
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginRequest"
          required: true
        responses:
          200:
            description: "Token emitido"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/TokenResponse"
          401:
            $ref: "#/components/responses/Unauthorized"
          422:
            $ref: "#/components/responses/UnprocessableEntity"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/auth/login"
    /auth/me:
      get:
        tags:
          - "Auth"
        summary: "Devolve o usuário do token, para conferir se ele ainda vale"
        operationId: "me"
        parameters: []
        responses:
          200:
            description: "Usuário autenticado"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/MeResponse"
          401:
            $ref: "#/components/responses/Unauthorized"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/auth/me"
    /callback:
      get:
        tags:
          - "JSR"
        summary: "Recebe o redirect da detentora e completa a jornada em curso"
        description: "Dois formatos, um por jornada:\n  - consentId + status: pagamento com redirecionamento. A detentora ja mostrou\n    valor e credor ao titular e traz aqui o que ele decidiu. Em AUTHORISED o\n    pagamento e submetido; em REJECTED nada e debitado.\n  - code + state: cadastro de dispositivo (JSR/ITP), que continua passando pelo\n    login OAuth. Devolve credential_id e account_id.\n\nUnica rota sem JWT: quem chama e o navegador do titular, e um redirect nao\ncarrega o header Authorization. O que a amarra a um usuario e o identificador\nna query, que so existe em registro criado por chamada ja autenticada.\n"
        operationId: "handleCallback"
        security: []
        parameters:
          -
            name: "consentId"
            in: "query"
            description: "Jornada de pagamento: consentimento que o titular acabou de decidir."
            required: false
            style: "form"
            explode: true
            schema:
              type: "string"
              format: "uuid"
          -
            name: "status"
            in: "query"
            description: "Decisao do titular. Acompanha consentId."
            required: false
            style: "form"
            explode: true
            schema:
              type: "string"
              enum:
                - "AUTHORISED"
                - "REJECTED"
          -
            name: "code"
            in: "query"
            description: "Jornada de enrollment: authorization code devolvido pela detentora."
            required: false
            style: "form"
            explode: true
            schema:
              type: "string"
          -
            name: "state"
            in: "query"
            description: "Jornada de enrollment: request_id que amarra o code ao pedido. Acompanha code."
            required: false
            style: "form"
            explode: true
            schema:
              type: "string"
        responses:
          200:
            description: "Fluxo concluído (resultado varia conforme o tipo)"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/CallbackResponse"
          400:
            $ref: "#/components/responses/BadRequest"
          404:
            $ref: "#/components/responses/NotFound"
          502:
            $ref: "#/components/responses/CoreUnavailable"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/callback"
    /payments/{identifier}:
      get:
        tags:
          - "PISP"
        summary: "Consulta o status de um pagamento por payment_id ou consent_id"
        operationId: "getPaymentDetail"
        parameters:
          -
            name: "identifier"
            in: "path"
            required: true
            style: "simple"
            explode: false
            schema:
              type: "string"
        responses:
          200:
            description: "Detalhes do pagamento"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/PaymentDetailResponse"
          401:
            $ref: "#/components/responses/Unauthorized"
          404:
            $ref: "#/components/responses/NotFound"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/payments/{identifier}"
    /enrollments:
      get:
        tags:
          - "JSR"
        summary: "Lista os dispositivos vinculados do usuário autenticado"
        description: "É por aqui que se recupera o enrollment_id exigido no pagamento JSR."
        operationId: "listEnrollments"
        parameters: []
        responses:
          200:
            description: "Dispositivos do usuário"
            content:
              application/json:
                schema:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/DeviceSummary"
          401:
            $ref: "#/components/responses/Unauthorized"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/enrollments"
      post:
        tags:
          - "JSR"
        summary: "Inicia o cadastro de um dispositivo (JSR/ITP) na detentora"
        operationId: "createEnrollment"
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentRequest"
          required: true
        responses:
          201:
            description: "Cadastro iniciado; abra login_url para autenticar na detentora"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/EnrollmentCreatedResponse"
          401:
            $ref: "#/components/responses/Unauthorized"
          400:
            $ref: "#/components/responses/BadRequest"
          422:
            $ref: "#/components/responses/UnprocessableEntity"
          500:
            $ref: "#/components/responses/InternalServerError"
          502:
            $ref: "#/components/responses/CoreUnavailable"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/enrollments"
    /payments:
      post:
        tags:
          - "PISP"
        summary: "Cria o consentimento do pagamento e devolve a URL onde o titular o aprova"
        description: "O consentimento nasce AWAITING_AUTHORISATION na detentora e nada e debitado\naqui. A authorisation_url e a tela onde o titular revisa valor e credor,\nescolhe a conta de debito e aprova -- sem isso a detentora recusa a\nsubmissao. A conta nao e escolhida pela Iniciadora.\n"
        operationId: "createPayment"
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentInitiationRequest"
          required: true
        responses:
          201:
            description: "Consentimento criado; abra authorisation_url para o titular aprovar"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/PaymentStartedResponse"
          401:
            $ref: "#/components/responses/Unauthorized"
          400:
            $ref: "#/components/responses/BadRequest"
          422:
            $ref: "#/components/responses/UnprocessableEntity"
          500:
            $ref: "#/components/responses/InternalServerError"
          502:
            $ref: "#/components/responses/CoreUnavailable"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/payments"
    /payments/jsr:
      post:
        tags:
          - "JSR"
        summary: "Pagamento PIX sem redirect com o dispositivo indicado em enrollment_id. Dispositivo inexistente devolve 404 e dispositivo fora de REGISTERED devolve 409, ambos com need_enrollment=true e o login_url para cadastro."
        description: "Pagamento PIX sem redirect com o dispositivo indicado em enrollment_id. Dispositivo inexistente devolve 404 e dispositivo fora de REGISTERED devolve 409, ambos com need_enrollment=true e o login_url para cadastro."
        operationId: "createJsrPayment"
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsrPaymentRequest"
          required: true
        responses:
          201:
            description: "Pagamento iniciado"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/JsrPaymentResponse"
          400:
            description: "Erro repassado pelo core-banking, por exemplo ENROLLMENT_ACCOUNT_MISMATCH quando o accountId do enrollment não confere."
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/CoreError"
          401:
            $ref: "#/components/responses/Unauthorized"
          404:
            description: "Dispositivo não encontrado (ou pertence a outro usuário) — cadastro necessário"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/NeedEnrollmentResponse"
          409:
            description: "Dispositivo existe mas não está REGISTERED — cadastro precisa ser concluído"
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/NeedEnrollmentResponse"
          422:
            $ref: "#/components/responses/UnprocessableEntity"
          500:
            $ref: "#/components/responses/InternalServerError"
          502:
            $ref: "#/components/responses/CoreUnavailable"
        x-api-broken: false
        x-interceptors: {}
        x-resource-name: "/payments/jsr"
  components:
    securitySchemes:
      bearerAuth:
        type: "http"
        scheme: "bearer"
        bearerFormat: "JWT"
        description: "Token devolvido por POST /auth/login"
    schemas:
      LoginRequest:
        required:
          - "password"
          - "username"
        type: "object"
        properties:
          username:
            type: "string"
            description: "Usuário pré-cadastrado na Iniciadora"
          password:
            type: "string"
            format: "password"
            description: "Senha do usuário"
      TokenResponse:
        type: "object"
        properties:
          access_token:
            type: "string"
          token_type:
            type: "string"
            example: "bearer"
          expires_in:
            type: "integer"
            description: "Validade do token, em segundos"
          expires_at:
            type: "string"
            format: "date-time"
          username:
            type: "string"
      MeResponse:
        type: "object"
        properties:
          username:
            type: "string"
          full_name:
            type: "string"
      DeviceSummary:
        type: "object"
        properties:
          enrollment_id:
            type: "string"
          credential_id:
            type: "string"
          username:
            type: "string"
          account_id:
            type: "string"
          status:
            type: "string"
            description: "PENDING ou REGISTERED"
      EnrollmentRequest:
        type: "object"
        properties:
          username:
            type: "string"
            description: "Nome do titular a vincular na detentora (JSR/ITP). Se vazio, usa o usuário autenticado nesta Iniciadora."
          account_number:
            type: "string"
            description: "Conta de débito do titular (opcional)"
      EnrollmentCreatedResponse:
        type: "object"
        properties:
          enrollment_id:
            type: "string"
          request_id:
            type: "string"
          login_url:
            type: "string"
          message:
            type: "string"
      CallbackResponse:
        type: "object"
        properties:
          enrollment_id:
            type: "string"
          credential_id:
            type: "string"
          account_id:
            type: "string"
          payment_id:
            type: "string"
          consent_id:
            type: "string"
          status:
            type: "string"
        description: "Resultado do callback. Para enrollment: enrollment_id, credential_id, account_id, status. Para pagamento: payment_id, consent_id, status.\n"
      JsrPaymentRequest:
        required:
          - "amount"
          - "creditor_cpf_cnpj"
          - "creditor_key"
          - "creditor_name"
          - "enrollment_id"
        type: "object"
        properties:
          enrollment_id:
            type: "string"
            description: "Dispositivo vinculado que autoriza o pagamento e define de qual conta ele sai. Devolvido por POST /enrollments e pelo GET /callback do cadastro."
          amount:
            type: "string"
            description: "Valor em BRL, ex: '100.00'"
          currency:
            type: "string"
            default: "BRL"
          creditor_name:
            type: "string"
          creditor_cpf_cnpj:
            type: "string"
          creditor_key:
            required:
              - "type"
              - "value"
            type: "object"
            properties:
              type:
                type: "string"
                enum:
                  - "CPF"
                  - "CNPJ"
                  - "EMAIL"
                  - "PHONE"
                  - "EVP"
              value:
                type: "string"
            description: "{type, value} da chave PIX do credor"
      JsrPaymentResponse:
        type: "object"
        properties:
          payment_id:
            type: "string"
          consent_id:
            type: "string"
          status:
            type: "string"
      NeedEnrollmentResponse:
        type: "object"
        properties:
          need_enrollment:
            type: "boolean"
            example: true
          login_url:
            type: "string"
          message:
            type: "string"
      PaymentInitiationRequest:
        required:
          - "amount"
          - "creditor_cpf_cnpj"
          - "creditor_key"
          - "creditor_name"
        type: "object"
        properties:
          amount:
            type: "string"
            description: "Valor em BRL, ex: '100.00'"
          currency:
            type: "string"
            default: "BRL"
          creditor_name:
            type: "string"
          creditor_cpf_cnpj:
            type: "string"
          creditor_key:
            required:
              - "type"
              - "value"
            type: "object"
            properties:
              type:
                type: "string"
                enum:
                  - "CPF"
                  - "CNPJ"
                  - "EMAIL"
                  - "PHONE"
                  - "EVP"
              value:
                type: "string"
            description: "{type, value} da chave PIX do credor"
          debtor_cpf:
            type: "string"
            description: "CPF do pagador, quando conhecido. Informado, só esse titular consegue aprovar o consentimento na detentora."
          redirect_uri:
            type: "string"
            format: "uri"
            description: "Para onde o /callback deve redirecionar o navegador do titular depois da aprovação. Precisa estar na allow-list da Iniciadora; vazio mantém a resposta JSON."
      PaymentStartedResponse:
        type: "object"
        properties:
          consent_id:
            type: "string"
            format: "uuid"
          status:
            type: "string"
            example: "AWAITING_AUTHORISATION"
          authorisation_url:
            type: "string"
            format: "uri"
            description: "Tela onde o titular revisa valor e credor e aprova."
          message:
            type: "string"
      CoreError:
        type: "object"
        description: "Falha em uma chamada ao core-banking. Quando o core responde 4xx, o status e o motivo originais são repassados; 5xx e indisponibilidade viram 502."
        properties:
          error:
            type: "string"
            description: "Código do core (ex.: INSUFFICIENT_BALANCE, ENROLLMENT_ACCOUNT_MISMATCH) ou CORE_REQUEST_FAILED / CORE_UNREACHABLE quando não há código."
            example: "INSUFFICIENT_BALANCE"
          message:
            type: "string"
          core:
            type: "object"
            properties:
              status:
                type: "integer"
                description: "Status HTTP devolvido pelo core. Ausente quando o core não respondeu."
                example: 422
              url:
                type: "string"
                nullable: true
      ValidationError:
        type: "object"
        description: "Corpo da requisição inválido, recusado pela validação antes de qualquer chamada ao core."
        properties:
          detail:
            type: "array"
            items:
              type: "object"
              properties:
                loc:
                  type: "array"
                  items:
                    type: "string"
                msg:
                  type: "string"
                type:
                  type: "string"
      HttpError:
        type: "object"
        description: "Erro gerado pela própria Iniciadora."
        properties:
          detail:
            type: "string"
      PaymentDetailResponse:
        type: "object"
        properties:
          consent_id:
            type: "string"
          request_id:
            type: "string"
          status:
            type: "string"
          payment_id:
            type: "string"
            nullable: true
          created_at:
            type: "string"
            format: "date-time"
          source:
            type: "string"
            enum:
              - "core"
              - "local"
            description: "De onde veio o status. core = consultado e reconciliado com a detentora; local = a detentora não respondeu e esta é a cópia desta aplicação."
          consent:
            type: "object"
            nullable: true
            additionalProperties: true
            description: "Consentimento como a detentora o devolveu. Nulo quando ela não respondeu."
      PaymentEventsResponse:
        type: "object"
        properties:
          consentId:
            type: "string"
            format: "uuid"
          events:
            type: "array"
            items:
              $ref: "#/components/schemas/PaymentConsentEvent"
      PaymentConsentEvent:
        type: "object"
        properties:
          event:
            type: "string"
            example: "CONSENT_AUTHORISED"
          actor:
            type: "string"
            enum:
              - "INITIATOR"
              - "HOLDER"
              - "SYSTEM"
          actorUserId:
            type: "string"
            nullable: true
          outcome:
            type: "string"
            enum:
              - "ACCEPTED"
              - "REFUSED"
          reason:
            type: "string"
            nullable: true
            description: "Código do erro quando o passo foi recusado."
          statusBefore:
            type: "string"
            nullable: true
          statusAfter:
            type: "string"
            nullable: true
          detail:
            type: "object"
            nullable: true
            additionalProperties: true
          createdAt:
            type: "string"
            format: "date-time"
      ConsentWebhookEvent:
        type: "object"
        properties:
          consentId:
            type: "string"
            format: "uuid"
          event:
            type: "string"
            example: "CONSENT_AUTHORISED"
          status:
            type: "string"
            example: "AUTHORISED"
          previousStatus:
            type: "string"
            nullable: true
          paymentId:
            type: "string"
            nullable: true
          timestamp:
            type: "string"
            format: "date-time"
      EnrollmentRevokedResponse:
        type: "object"
        properties:
          revoked:
            type: "boolean"
            description: "O vínculo foi removido nesta Iniciadora."
          core_revoked:
            type: "boolean"
            description: "A detentora aceitou revogar o enrollment. False não impede a revogação local de valer."
      ConsentWebhookAck:
        type: "object"
        properties:
          received:
            type: "boolean"
          known:
            type: "boolean"
            description: "false quando o consentimento não é desta Iniciadora."
          status:
            type: "string"
            description: "Status do registro local depois de processar o aviso."
          payment_id:
            type: "string"
            nullable: true
    responses:
      BadRequest:
        description: "Requisição inválida"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpError"
      Unauthorized:
        description: "Não autenticado"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpError"
      NotFound:
        description: "Não encontrado"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpError"
      InternalServerError:
        description: "Erro interno"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpError"
      UnprocessableEntity:
        description: "Corpo da requisição inválido"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidationError"
      CoreUnavailable:
        description: "O core-banking respondeu 5xx ou não respondeu (timeout, DNS, conexão recusada)"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoreError"
  x-destination: "http://34.200.109.21:3200"
  x-interceptors:
    1:
      x-interceptor-position: 0
      x-interceptor-type: "LOG"
      x-interceptor-content: "{\"acceptedTerms\":true,\"ignoreBodyValidationMultiPartFormData\":false}"
      x-interceptor-execution-point: "FIRST"
      x-interceptor-status: "REFERENCE"
    2:
      x-interceptor-position: 0
      x-interceptor-type: "LOG"
      x-interceptor-content: "{\"acceptedTerms\":true,\"ignoreBodyValidationMultiPartFormData\":false}"
      x-interceptor-execution-point: "SECOND"
      x-interceptor-status: "REFERENCE"
  x-life-cycle: "Stage One"
  x-resources:
    /enrollments/{enrollment_id}:
      x-resource-description: "Jornada JSR (ITP enrollment + pagamento sem redirect)"
      x-interceptors: {}
      x-api-broken: false
    /payments/{identifier}/events:
      x-resource-description: "Iniciação de Pagamento"
      x-interceptors: {}
      x-api-broken: false
    /webhooks/consents:
      x-resource-description: "Iniciação de Pagamento"
      x-interceptors: {}
      x-api-broken: false
    /auth/login:
      x-resource-description: "Autenticação dos usuários da Iniciadora"
      x-interceptors: {}
      x-api-broken: false
    /auth/me:
      x-resource-description: "Autenticação dos usuários da Iniciadora"
      x-interceptors: {}
      x-api-broken: false
    /payments:
      x-resource-description: "Iniciação de Pagamento"
      x-interceptors: {}
      x-api-broken: false
    /callback:
      x-resource-description: "Jornada JSR (ITP enrollment + pagamento sem redirect)"
      x-interceptors: {}
      x-api-broken: false
    /payments/{identifier}:
      x-resource-description: "Iniciação de Pagamento"
      x-interceptors: {}
      x-api-broken: false
    /enrollments:
      x-resource-description: "Jornada JSR (ITP enrollment + pagamento sem redirect)"
      x-interceptors: {}
      x-api-broken: false
    /payments/jsr:
      x-resource-description: "Jornada JSR (ITP enrollment + pagamento sem redirect)"
      x-interceptors: {}
      x-api-broken: false
  x-api-broken: false
